.venv/*
config.py
token.pickle
rclone.conf
.netrc
log.txt
cfg.zip
accounts/*
MediaInfo/*
Images/*
thumbnails/*
rclone/*
tokens/*
sabnzbd/*
list_drives.txt
shorteners.txt
cookies.txt
cookies/*
downloads/*
*.session
__pycache__/
venv/
