asyncio
aiofiles
aioshutil
anytree
apscheduler
aioaria2
aioqbt
cinemagoer
cloudscraper
dnspython
electrogram
fastapi
feedparser
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
langcodes
lxml
motor
natsort
pycountry
pillow
psutil
pyshorteners
python-magic
pytz
PyPDF2
reportlab
requests
speedtest-cli
telegraph
tenacity
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]
